body {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:brown;
}

div{
  width: 650px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
  font-size: 22px;
  background-color: blanchedalmond;
  color: brown;
}

#game-description{
  font-weight: 600;
  font-size: 28px;
}

#hints{
  font-weight: 500;
  font-size: 24px;
}

#Guess{
  height: 35px;
  width: 70px;
  font-size: large;
  text-align: center;
  color: brown;
}

#submitGuess{
  padding: 20px 20px;
  background-color: brown;
  font-size: 18px;
  color: blanchedalmond;
  border: none;
  border-radius: 8px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submitGuess:hover{
  cursor: pointer;
  background-color: rgb(139, 26, 26);
  color: blanchedalmond;
}

.error,
.success {
  padding: 0.5em 0.5em;
  border-radius: 0.3em;
  margin-bottom: 1em;
  animation: pop 0.4s forwards;
  transform: scale(0);
}

.success{
  background-color: #b9ffd5;
  color: #05c451;
}

.error{
  background-color: #ffcbcb;
  color: #ff3e3e;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}